name: Package & Test

on:
  workflow_call:
    inputs:
      library_name:
        description: 'The name of library, if different from repository name'
        # if empty string, the current repository name is used
        default: ''
        type: string
      module_name:
        description: 'The name of the module to test, if different from repository name'
        # if empty string, the current repository name is used
        default: ''
        type: string
      use_xvfb:
        description: 'Whether to install and setup xvfb and pyqt for testing'
        # if empty string, the current repository name is used
        default: false
        type: boolean
      EXTRAS:
        description: 'Optional “variants” (also called extra) to be installed'
        # if empty string, no argument is passed
        default: '[tests]'
        type: string
      POOCH_BASE_URL:
        description: 'Set the base url used by POOCH to fetch the data'
        # if empty string, the default base url is used
        default: ''
        type: string
      PYTEST_ARGS:
        description: 'The argurment to pass to pytest call'
        # if empty string, no argument is passed
        default: ''
        type: string
      ADDITIONAL_TEST_DEPENDENCIES:
        description: 'Additional dependencies to be installed when testing'
        # if empty string, no argument is passed
        default: ''
        type: string
      ORGANISATION:
        description: 'The organisation hosting the upstream code'
        default: 'hyperspy'
        type: string  
      CACHE_POOCH:
        description: 'The list of pooch cache to cache - see pooch.os_cache() for more information.'
        default: ''
        type: string

env:
  PYTHON_VERSION: '3.11'

jobs:
  package:
    name: Package
    runs-on: ubuntu-latest
    outputs: 
      REPOSITORY_NAME: ${{ env.REPOSITORY_NAME }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: get repository name
        run: echo "REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Fetch tags upstream
        if: ${{ github.repository_owner != inputs.ORGANISATION }}
        # Needs to fetch the tags from upstream to get the
        # correct version with setuptools_scm
        run: |
          git remote add upstream https://github.com/${{ inputs.ORGANISATION }}/${{ env.REPOSITORY_NAME }}.git
          git fetch upstream --tags

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Display version
        run: |
          python --version
          pip --version

      - name: Install pypa/build pypa/twine
        run: |
          pip install build twine

      - name: Build a wheel and sdist
        run: |
          python -m build

      - name: Display content dist folder
        run: |
          ls -shR dist/
      
      - name: Run twin check
        run: |
          twine check dist/*

      - uses: actions/upload-artifact@v5
        with:
          path: ./dist/*
          name: dist

  test:
    name: Test
    needs: package
    runs-on: ubuntu-latest
    env:
      REPOSITORY_NAME: ${{ needs.package.outputs.REPOSITORY_NAME }}
      LIBRARY_NAME: ${{ inputs.library_name }}
      MODULE_NAME: ${{ inputs.module_name }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Ubuntu packages for Qt
        if: ${{ inputs.use_xvfb }}
        run: |
          sudo apt-get update
          sudo apt-get install qtbase5-dev
          sudo apt-get install libxkbcommon-x11-0
          sudo apt-get install libxcb-icccm4
          sudo apt-get install libxcb-image0
          sudo apt-get install libxcb-keysyms1
          sudo apt-get install libxcb-randr0
          sudo apt-get install libxcb-render-util0
          sudo apt-get install libxcb-xinerama0

      - name: Install pyqt
        if: ${{ inputs.use_xvfb }}
        run: |
          pip install pyqt5 PyQtWebEngine

      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist

      - name: Display content working folder
        run: |
          ls -shR

      - name: Get library name
        run: |
          if [ '${{ env.LIBRARY_NAME }}' = '' ]; then
            LIBRARY_NAME=${{ env.REPOSITORY_NAME }}
            echo "LIBRARY_NAME=${LIBRARY_NAME}" >> $GITHUB_ENV
          fi

      - name: Get module name
        run: |
          if [ '${{ env.MODULE_NAME }}' = '' ]; then
            MODULE_NAME=${{ env.REPOSITORY_NAME }}
            echo "MODULE_NAME=${MODULE_NAME}" >> $GITHUB_ENV
          fi

      - name: Install distribution
        run: |
          pip install --pre --find-links dist ${{ env.LIBRARY_NAME }}${{ inputs.EXTRAS }}

      - name: Install additional test dependencies
        if: ${{ inputs.ADDITIONAL_TEST_DEPENDENCIES != ''}}
        run: |
          pip install ${{ inputs.ADDITIONAL_TEST_DEPENDENCIES }}

      - name: Cache pip
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-package&test-pip-${{ env.CACHE_NUMBER }}
          restore-keys: |
            ${{ runner.os }}-package&test-pip-${{ env.CACHE_NUMBER }}

      - name: Get pooch cache paths
        if: ${{ inputs.CACHE_POOCH != '' }}
        run: |
          # create list of pooch cache paths as a string (space separated)
          python -c "import pooch; print(' '.join([str(pooch.os_cache(s)) for s in ${{ inputs.CACHE_POOCH }}.split(' ')]))" > pooch_cache_paths.txt
          echo "POOCH_CACHE_PATHS=$(cat pooch_cache_paths.txt)" >> $GITHUB_ENV

      - name: Cache pooch data
        if: ${{ inputs.CACHE_POOCH != '' }}
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 0
        with:
          path: ${{ env.POOCH_CACHE_PATHS }}
          key: ${{ runner.os }}-package&test-pooch-${{ env.CACHE_NUMBER }}
          restore-keys: |
            ${{ runner.os }}-package&test-pooch-${{ env.CACHE_NUMBER }}

      - name: Get rosettasciio tests data location
        # special case rosettasciio to cache the test data
        if: ${{ inputs.module_name == 'rsciio' }}
        run: |
          python -c "from rsciio.tests import registry; print(f'ROSETTASCIIO_TEST_DATA={str(registry.TESTS_PATH / \"data\") }')" >> $GITHUB_ENV

      - name: Cache rosettasciio data
        # special case rosettasciio to cache the test data
        if: ${{ inputs.module_name == 'rsciio' }}
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache
          CACHE_NUMBER: 0
        with:
          path: ${{ env.ROSETTASCIIO_TEST_DATA }}
          key:
            ${{ runner.os }}-package&test-test_data-${{ env.CACHE_NUMBER }}
          restore-keys: |
            ${{ runner.os }}-package&test-test_data-${{ env.CACHE_NUMBER }}

      - name: Pip list
        run: |
          pip list

      - name: Test distribution
        if: ${{ inputs.use_xvfb != true }}
        env:
          POOCH_BASE_URL: ${{ inputs.POOCH_BASE_URL }}
        run: |
          pytest --pyargs ${{ env.MODULE_NAME }} ${{ inputs.PYTEST_ARGS }}

      - name: Test distribution (with xvfb)
        if: ${{ inputs.use_xvfb }}
        env:
          POOCH_BASE_URL: ${{ inputs.POOCH_BASE_URL }}
        run: |
          sudo apt-get install xvfb
          xvfb-run pytest --pyargs ${{ env.MODULE_NAME }} ${{ inputs.PYTEST_ARGS }}
