name: Push Documentation
# To prevent pwn PR requests (for example in PR preview, where documentation is pushed automatically)
# the documentation have to be built in a workflow that doesn't have access to any secrets and
# therefore the build and push workflow needs to be done separetely in two different workflows.
# See https://securitylab.github.com/resources/github-actions-preventing-pwn-requests for more information.

# The caller workflow needs to provide an access token with write access to the repository
# for example:
#   permissions:
#     # needs write permission to push the docs
#     contents: write

on:
  workflow_call:
    inputs:
      artifact_name:
        description: 'The name of the github artifact containing the doc'
        default: 'doc_html'
        type: string
      external_repository:
        description: >
          'The external repository, if not the current repository, for example "hyperspy/hyperspy".
          If used, a personal token with access to the repository is required.'
        default: ''
        type: string
      branch:
        description: 'The branch to push to, for example "gh-pages"'
        default: 'gh-pages'
        type: string
      output_path:
        description: 'The path where the doc will be written'
        default: '.'
        type: string
      create_redirect:
        description: 'Add a redirect index.html in the root folder pointing to the output path.'
        default: false
        type: boolean
      create_stable_copy:
        description: 'Add a copy of the versioned docs with a persistent name.'
        default: false
        type: boolean
      persistent_name:
        description: 'The persistent name of the folder in the root folder that is a copy of versioned name.'
        default: stable
        type: string
    secrets:
      personal_token:
        description: 'The access token required to push an external repository'

jobs:
  push_doc:
    # This build is to push changes to a repository
    name: Push docs ${{ inputs.branch }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: ${{ inputs.artifact_name }}
          path: ${{ inputs.output_path }}

      - name: Create index redirect
        if: ${{ inputs.create_redirect }}
        env:
          VERSION: ${{ inputs.output_path }}
        run: |
          cat <<EOF > ./index.html
          <!DOCTYPE html>
          <html>
            <head>
              <meta http-equiv="refresh" content="0; url=${VERSION}/">
              <script>window.location.href='${VERSION}/';</script>
            </head>
            <body>
              <p>Redirecting to the <a href="${VERSION}/">documentation (stable)</a>...</p>
            </body>
          </html>
          EOF

      - name: Create ${{ inputs.persistent_name }} copy of the versioned docs
        if: ${{ inputs.create_stable_copy }}
        run: |
          cp -r ${{ inputs.output_path }} ${{ inputs.persistent_name }}

      - name: list files
        run: |
          ls

      - name: Push docs
        if: ${{ inputs.external_repository != '' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          personal_token: ${{ secrets.personal_token }}
          publish_dir: .
          external_repository: ${{ inputs.external_repository }}
          publish_branch: ${{ inputs.branch }}
          keep_files: true

      - name: Push docs
        if: ${{ inputs.external_repository == '' }}
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e
        with:
          github_token: ${{ github.token }}
          publish_dir: .
          keep_files: true
