# This workflow can't be used as reusable workflow because it is 
# concurrently not compatible with trusted publisher
# https://github.com/pypa/gh-action-pypi-publish/issues/166

name: Release

on:
  workflow_call:
    inputs:
      ORGANISATION:
        description: 'The organisation hosting the upstream code'
        default: 'hyperspy'
        type: string

jobs:
  package_and_test:
    name: Package and Test
    # Use the "reusable workflow" from the hyperspy organisation
    uses: hyperspy/.github/.github/workflows/package_and_test.yml@main

  upload_to_pypi:
    needs: [package_and_test]
    runs-on: ubuntu-latest
    name: Upload to pypi
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Download distribution artefacts
        uses: hyperspy/.github/.github/actions/download-artifact@main

      - uses: pypa/gh-action-pypi-publish@release/v1
        if: ${{ startsWith(github.ref, 'refs/tags/') && github.repository_owner == inputs.ORGANISATION }}
        # See https://docs.pypi.org/trusted-publishers/using-a-publisher/

  create_github_release:
    # If zenodo is setup to create a DOI automatically on a GitHub release,
    # this step will trigger the mining of the DOI
    needs: upload_to_pypi
    permissions:
      contents: write
    name: Create GitHub Release
    runs-on: ubuntu-latest
    steps:
      # Create GitHub release:
      # - Download dist and upload as release asset
      # - Extract release notes from changelog and upload as release description
      - name: Create GitHub Release
        uses: hyperspy/.github/.github/actions/create-github-release@main
        with:
          changelog: CHANGES.rst
          heading-level: '='
